.container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
}

app-topicitem{
    width: 48%;
    height: 300px;
    margin: 10px;
}