.cardContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.imgContainer{
    width: 20%;
    height: 100%;
}
.contentContainer{
    width: 80%;
    height: 100%;
}