html, body{
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;

}
.cardContainer{
    height: 160px;
    width: 48%;
    border: 1px solid blue;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content:space-between;
}
img{
    width: 100px;
    height: 100px;
    margin: auto 10px;
    vertical-align: middle;
    border-radius: 5px;
    box-shadow: 5px 5px 5px blue;
}
.text_container{
    width: calc(100% - 100px - 30px);
}
p{
    font-weight: bold;
    width: 270px;
}
.hide{
    display: none;
}
.reload{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px black;
}

@media only screen and (max-width: 1116px) {
    .cardContainer{
        height: 160px;
        width: 100%;
        border: 1px solid blue;
        border-radius: 10px;
        margin: 10px;
        display: flex;
        justify-content:space-between;
    }
}